body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgb(18, 85, 255);
}

h1 {
    color: rgb(124, 238, 255);
    text-align: center;
    font-size: 50px;
    font-family: 'Wallpoet';
}

main {
    height: 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(170, 252, 255);
}

#display {
    font-size: 45px;
    color: rgb(0, 76, 255);
    position: relative;
    align-self: center;
    font-family: 'Julee'
}

.board {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    gap: 10px;
    background-color: rgb(0, 4, 124);;
}

.cell {
    background-color: rgb(170, 252, 255);
    color: rgb(0, 4, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lines {
    position: relative;
}

.line {
    position: absolute;
    height: 5px;
    width: 300px;
    background-color: black;
    display: none;
    background-color: rgba(255, 0, 0, 0.7);
}

#line-0-2 {
    top: -300px;
    left: -150px;
}

#line-3-5 {
    top: -190px;
    left: -150px;
}
#line-6-8 {
    top: -80px;
    left: -150px;
}
#line-0-6{
    top: -190px;
    left: -260px;
    transform: rotate(90deg);
}
#line-1-7{
    top: -190px;
    left: -150px;
    transform: rotate(90deg);
}
#line-2-8{
    top: -190px;
    left: -40px;
    transform: rotate(90deg);
}
#line-0-8{
    top: -190px;
    left: -200px;
    width: 400px;
    transform: rotate(45deg);
}
#line-2-6{
    top: -190px;
    left: -200px;
    width: 400px;
    transform: rotate(-45deg);
}


#reset-btn {
    font-size: 25px;
    color:rgb(255, 255, 255);
    background-color:rgb(48, 62, 255);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-family: 'Julee'
}

footer {
    background-color: rgb(18, 85, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: rgb(124, 238, 255);
    font-size: 20px;
    font-family: 'Julee'
}

a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #FFF;
}

path {
    fill: #FFF;
}

/* ANIMATIONS */

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: .6s;
}

@keyframes fadeIn {
    0% {
		opacity: 1;
        scale: 1;
	}
    50% {
		opacity: 0;
        scale: .7;
	}
	100% {
		opacity: 1;
        scale: 1;
	}
}

.ribbon-left {
	animation-name: dissapear-left;
	animation-iteration-count: 1;
	animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

@keyframes dissapear-left {
	0% {
		animation-timing-function: linear;
    }
    100% {
        transform: translateX(-100vw);
    }
}

.ribbon-right {
	animation-name: dissapear-right;
	animation-iteration-count: 1;
	animation-duration: .3s;
    animation-timing-function: ease-in-out;
    transform: translateX(100vw);
}

@keyframes dissapear-right {
	0% {
		animation-timing-function: linear;
    }
    100% {
        transform: translateX(0);
    }
}